@import "tailwindcss";

@theme {
  --color-naranja: #f97316;
  --color-azul: #0ea5e9;
  --color-espigon: #22c55e;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
